torch
torchvision
roma
evo
gradio
matplotlib
tqdm
opencv-python
scipy
einops
trimesh
tensorboard
pyglet<2
huggingface-hub[torch]>=0.22,<1.0
gdown
imageio
cython
icecream

plyfile
open3d

# Optional: 3D visualization
# rerun-sdk>=0.18.0
# gradio_rerun

sam2
groundingdino-py